:root {
  --twitch-gray: rgb(173 173 184);
  --twitch-light: #bebebe;
  --twitch-dark-background: hsl(262 22% 10% / 93%);
  --twitch-purple: rgb(180 84 255);
  --twitch-highlight-purple: #514b6b;
  --secondary: #877fab;
  --secondary-alt: #403960;
  --active: #ff50ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  align-items: end;
  background-color: transparent;
}

[data-twitch-chat] {
  width: 100px;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: end;
  font-size: 5px;
  list-style: none;
  overflow: hidden;
}

[data-twitch-message] {
  visibility: collapse;
  min-width: 100%;
  margin: 0;
}

[data-twitch-message-reply] {
  display: none;
  /* color: var(--twitch-gray);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

[data-twitch-message] .twitch-chat-sender {
  display: none;
}

[data-twitch-emote] {
  visibility: visible;
  position: absolute;
  width: 1.2em;
  margin: 1em;
  font-size: 2.75rem;
  opacity: 0;
  animation: float-left 7.5s forwards linear, fade-in-out 7.5s forwards linear;
  z-index: 99;
}

[data-twitch-emote]:nth-child(3n - 1) {
  left: 15px;
  bottom: 0;
  animation-delay: 1.25s !important;
  animation: float-right 7.5s forwards linear, fade-in-out 7.5s forwards linear;
}

[data-twitch-emote]:nth-child(3n + 1) {
  left: -20;
  bottom: -10px;
  animation-delay: 1s !important;
}

[data-twitch-emote]:nth-child(4n - 1) {
  left: -10px;
  bottom: 30px;
  animation-delay: 3s !important;
}

[data-twitch-emote]:nth-child(4n + 1) {
  left: -25px;
  bottom: 15px;
  animation-delay: 1.5s !important;
}

[data-twitch-emote]:nth-child(5n - 1) {
  left: 35px;
  bottom: -5px;
  animation-delay: 2.25s !important;
  animation: float-right 7.5s forwards linear, fade-in-out 7.5s forwards linear;
}

[data-twitch-emote]:nth-child(5n + 1) {
  left: -15px;
  bottom: 10px;
  animation-delay: 2.5s !important;
}

[data-twitch-emote]:nth-child(6n + 1) {
  left: inherit;
  bottom: 20px;
  animation-delay: 0.25s !important;
}

/* [data-twitch-emote]:nth-child(even) {
  animation: float-right 7.5s forwards linear, fade-in-out 7.5s forwards linear;
} */

[data-twitch-emote='<3'] {
  width: 1.8em;
  margin: -0.6em -0.3em;
}

.twitch-chat-command {
  background-color: transparent;
  color: inherit;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes float-left {
  0% {
    transform: translate(100%, 100%);
  }
  50% {
    transform: translate(-50%, -350%);
  }
  100% {
    transform: translate(100%, -600%);
  }
}

@keyframes float-right {
  0% {
    transform: translate(-50%, 100%);
  }
  50% {
    transform: translate(100%, -450%);
  }
  100% {
    transform: translate(-50%, -700%);
  }
}
