@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --clr-primary-bg: #18141F;
  --clr-secondary-bg: #242035;
  --clr-highlight: #514b6b;
  --clr-highlight-text: #877FAB;
  --clr-active: #ff50ff;
  --clr-white: #cecece;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1b1b1b;
  // overflow: hidden;
}

body,
.main-wrapper {
  height: 100%;
  min-height: 100%;
}
