@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary-bg: #18141f;
  --clr-secondary-bg: #242035;
  --clr-secondary-alt: #403960;
  --clr-highlight: #514b6b;
  --clr-highlight-text: #877fab;
  --clr-active: #ff50ff;
  --clr-white: #bebebe;

  //todo make the rest of these and ues them
  --clr-purple-200: #242035;
  --clr-purple-600: #514b6b;
  --clr-purple-700: #877fab;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1b1b1b;
  // overflow: hidden;
}

body,
.main-wrapper {
  height: 100%;
  min-height: 100%;
}
